
/*swiper轮播*/
.swiper-container {
  	width: 100%;
  	height: 2rem;
  	overflow: visible;
}
.swiper-slide {
	width: 100%;
	height: 2rem;
  	text-align: center;
  	font-size: 18px;
  	background: #fff;

  	/* Center slide text vertically */
  	display: -webkit-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
  	-webkit-box-pack: center;
  	-ms-flex-pack: center;
  	-webkit-justify-content: center;
  	justify-content: center;
  	-webkit-box-align: center;
  	-ms-flex-align: center;
  	-webkit-align-items: center;
  	align-items: center;
  	overflow: hidden;
}
.swiper-slide>img{
	width: 100%;
	height: 2rem;
}
.swiper-slide>.slide_img_title{
	width: 96%;
	padding: 0.1rem 2%;
	background-color: rgba(0,0,0,0.6);
	line-height: 1;
	text-align: left;
	font-size: 0.14rem;
	font-family: "microsoft yahei";
	color: #FFFFFF;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	position: absolute;
	bottom: 0;
	left: 0;
}

.news_top_btn{
	width: 100%;
	padding-top: 0.09rem;
	background-color: rgb(239, 65, 65);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
}
.news_top_btn:after{
	content: '';
	display: table;
	clear: both;
}
.news_top_btn>span{
	float: left;
	width: 1.1rem;
	margin-left: 0.11rem;
	padding: 0.1rem 0 0.12rem;
	text-align: center;
	line-height: 1;
	font-size: 0.15rem;
	font-family: "microsoft yahei";
	color: #FFFFFF;
	position: relative;
}
.news_top_btn>.click_news_btn{
	background-color: #FFFFFF;
	border-radius: 0.1rem 0.1rem 0 0;
	font-weight: 600;
	color: rgb(241,65,65);
}
.left_bot_icon{
	display: inline-block;
	border-right: 0.1rem solid #DDDDDD;
	border-bottom: 0.1rem solid #DDDDDD;
	border-left: 0.1rem solid rgba(255,255,255,0);
	border-top: 0.1rem solid rgba(255,255,255,0);
	position: absolute;
	bottom: 0;
	right: 0;
}


.news_main{
	width: 100%;
	margin-top: 0.46rem;
}
.news_mian_title{
	display: table;
	width: 100%;
	background-color: rgb(243, 243, 243);
	position: fixed;
	top: 0.46rem;
	left: 0;
	z-index: 99;
}
.news_mian_title>div{
	display: table-cell;
	padding-top: 0.15rem;
	padding-bottom: 0.17rem;
	text-align: center;
}
.news_mian_title>div>span{
	padding-bottom: 0.15rem;
	line-height: 1;
	font-size: 0.16rem;
	font-family: "microsoft yahei";
	font-weight: 600;
	color: rgb(16, 16, 16);
}
.news_mian_title>div>.click_main_title{
	padding-bottom: 0.12rem;
	border-bottom: 0.03rem solid rgb(239, 65, 65);
	color: rgb(239, 65, 65);
}


.news_main_info{
	width: 100%;
	padding-top: 0.48rem;
}
.news_main_list{
	width: 100%;
	padding: 0.2rem 0 0.63rem;
}
.news_main_list>li{
	width: 92%;
	margin: 0 auto;
	padding: 0.1rem 0;
	border-bottom: 0.01rem solid #DDDDDD;
	position: relative;
}
.news_main_list>li:after{
	content: '';
	display: table;
	clear: both;
}
.news_main_list>li>.news_li_left{
	float: left;
	width: 63%;
}
.news_main_list>li>.news_li_left>p{
	padding-bottom: 0.2rem;
	line-height: 1.3;
	font-size: 0.16rem;
	font-family: "microsoft yahei";
	color: rgb(68, 68, 68);
}
.news_main_list>li>.news_li_left>span{
	line-height: 1;
	font-size: 0.12rem;
	font-family: "microsoft yahei";
	color: rgb(174, 174, 174);
	position: absolute;
	bottom: 0.1rem;
	left: 0;
}
.news_main_list>li>img{
	float: right;
	width: 36%;
}
