
<div class="news_box">
	<div class="news_top_btn">
		<span class="click_news_btn">下城区总工会<span class="left_bot_icon"></span></span>
		<span class="click_news_btn">经纬创意园<span class="left_bot_icon"></span></span>
		<span class="click_news_btn">杭州泓唛<span class="left_bot_icon"></span></span>
	</div>
	
	<div class="news_main">
		<div class="news_mian_title">
			<div><span class="click_main_title">工会头条</span></div>
			<div><span>优惠普惠</span></div>
			<div><span>工会活动</span></div>
			<div><span>先模服务</span></div>
		</div>
		
		<div class="news_main_info">
			<ul class="news_main_list">
				<li>
					<div class="news_li_left">
						<p>我区召开面向“双一流”高校引进党政储备人才面试考核工作筹备会议</p>
					</div>
					
					<img src="/img/raw_1534916432.png" alt="" />
				</li>
			</ul>
		</div>
		
	</div>
	
</div>